# Dependencies
node_modules

# Build outputs
dist
build

# Generated API code
/src/api/generated
/src/docs/openapi

# Coverage
coverage

# Lock files
package-lock.json

# Env files
.env
.env.local
.env.*.local

/eslint.config.js